
hi, i am bookmark.
i will have:

   a text field to enter link that needs to be shortened.

   a background that changes
     -main: at size change
     -main: at each page

   -------- separated by a line ------------

   here, this will have:
     1 row, 2 or 3 columns -
      xs-12, med-6, lg-6, xl-4

    1) counter of how many times one has used this link
    2) created, updated

    -----------------------------------------

<p>
<div class="row col-xs-10 col-xs-offset-1">
  <table class="table">
    <tr>
    <td>URL</td>
    <td>Short Link</td>
    <td>Created On</td>
    <td>Last Clicked</td>
    <td>Counter</td>
    </tr>
    <% @links.each do |link| %>
    <tr>
    <td>
      <%= link.url %></td>
    <td>
      <a href="/go/<%=link.rand_str %>/preview">
      <%= link.rand_str %>
      </a>

    </td>

    <td><%= localize(link.created_at, format: :short)%></td>
    <td><%= link.time_log %></td>
    </tr>
    <% end %>

  </table>
</div>



