<body class="indexpage">
<div class="row">

<br/>
<div class="col-xs-6 text-center">
<%= flash[:notice] %>
</div>
</div>

<div class="row col-xs-10 col-xs-offset-1">

<% @links.each do |link| %>
  <div>
  <div class="transparentdiv col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1">
    <br />

      <h4 class="text-center">new link:<br/>
        <a href="/go/<%=link.rand_str %>/preview">
        <%= link.rand_str %>
        </a>
      </h4>
      <h1 class="text-center"><%= link.counter %> x</h1>
      <p><%= localize(link.created_at, format: :short)%></p>
  
  </div>
  </div>
<% end %>

</div>
</body>
