<body class="showpage">

<div class="row col-xs-10 col-xs-offset-1">

<div class="col-xs-8 col-xs-offset-2">
<h1>Let's go there. now. <br />
	<a href="/go/<%= @link.rand_str%>">
		<%= @link.rand_str %>
	</a>
</h1>
<%= button_to "Delete", {controller: :go, action: :destroy, id: @link[:id]}, method: :delete, class: "btn btn-primary"%>
</div>

<div class="row col-xs-10 col-xs-offset-1">

<div class="panel transparentdiv col-xs-6">
  <%= @link.url %>
</div>

<div class="panel transparentdiv col-xs-4 col-xs-offset-2">
  <%= @link.counter %>
</div>

</div>

</body>